{% extends 'base.html' %}
{% load static %}


{% block content  %}
   <div class="container">
      <div class="shop-body">
         <div class="shop-categories">
            <img src="{% static 'images/png5.png' %}" alt="">
            <ul>
               {% for p in posts %}
               <li >
                   {% if p.photo %}
                  <img  class="post-img" src="{{p.photo.url}}"  width="400">
                   {% endif %}
                     <h2><b>{{p.title}}</b>.</h2>
                     <p><b>{{p.description}}</b>:</p>
                     <h4>{{p.price}}: so'm</h4>
               </li>
               {% endfor %}
            </ul>
         </div>
         <div class="shop-categories">
            <img src="{% static 'images/png3.png' %}" alt="">
            <ul>
            </ul>
         </div>
         <div class="shop-categories">
            <img src="{% static 'images/png2.png' %}" alt="">
            <ul class="shop-categories__list">

            </ul>
         </div>
         <div class="shop-categories">
            <img src="{% static 'images/png1.png' %}" alt="">
             <ul class="shop-categories__list">

            </ul>
         </div>
      </div>
   </div>
{% endblock content %}
